@model List<Technician>
@{
	ViewData["Title"] = "Manage Technicians - SportsPro";
	Layout = "_Layout";
}

<div>
	<h1>Technician Manager</h1>

	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>Name</th>
				<th>Email</th>
				<th>Phone</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var technician in Model)
			{
				<tr>
					<td>@technician.TechnicianName</td>
					<td>@technician.Email</td>
					<td>@technician.PhoneNumber</td>
					<td><a asp-action="Edit" asp-route-id="@technician.TechnicianId" class="btn btn-outline-primary">Edit</a></td>
					<td><a asp-action="Delete" asp-route-id="@technician.TechnicianId" class="btn btn-outline-danger">Delete</a></td>
				</tr>
			}
		</tbody>
	</table>
	<div>
		<a asp-action="Add" class="btn btn-outline-primary">Add Technician</a>
	</div>
</div>